.cart-container {
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  width: 90vw;
}

.items-list {
  width: 1000px;
}

.items-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.price-span {
  margin-left: 5px;
}

.buy-btn {
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 80px;
  transition: ease-in-out 0.5s all;
}

button:hover {
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: 900;
}
