.details-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn-addtocard {
  background: linear-gradient(270deg, green, white);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 100;
  transform: scaleX(0.98);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.btn-addtocard:hover {
  background: linear-gradient(90deg, green, rgb(164, 211, 173));
  font-weight: 900;
  transform: scaleX(1);
}

.btn-addtocard img {
  height: 32px;
  width: 32px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

p {
  text-align: center;
}
