.review-container, .buyer-info-container, .payment-container {
  border: solid 1px rgba(0, 0, 0, 0.6);
  margin: 20px;
  padding: 20px;
}

section {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 95vw;
  padding: 20px;
}

h3 {
  text-align: center;
}

h4, p, span {
  color: rgba(0, 0, 0, 0.9);
}

.buy-button {
  background: linear-gradient(180deg, rgb(226, 226, 226), rgb(185, 185, 185));
  border: none;
  border-radius: 5px;
  font-weight: 900;
  margin-left: 20px;
  padding: 10px 50px;
  transition: all 0.3s ease;
}

.buy-button:hover {
  background: linear-gradient(45deg, rgb(155, 219, 163), rgb(30, 139, 3));
  color: white;
  cursor: pointer;
}

.buy-button:active {
  opacity: 0.2;
}

.buyer-info-container {
  display: flex;
  flex-wrap: wrap;
}

.buyer-info-container input {
  margin: 3px 10px;
  padding: 5px 15px;
}

.buyer-info-container input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.payment-container div {
  align-items: center;
  display: flex;
}

.payment-container span {
  margin-right: 5px;
}

.states-success {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.states-success p {
  font-size: 12px;
  font-weight: 500;
}
